{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col">
                <table class="table table-bordered" id="appsummary">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Expected Instances</th>
                        <th>Healthy Instances</th>
                        <th>CPU</th>
                        <th>Memory (MB)</th>
                        <th>State</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><h4>Instances</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered"  id="instances">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>ExecutorId</th>
                                <th>Host</th>
                                <th>Port</th>
                                <th>State</th>
                                <th>Log Stream</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}
    var summary = $('#appsummary').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/applications/{{appId}}',
            'dataSrc' : function(res) { return res.data ? [ res.data ] : []; }
        },
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columns' : [
            { 'data' : 'id' },
            { 'data' : 'spec.name' },
            { 'data' : 'requiredInstances' },
            { 'data' : 'healthyInstances' },
            { 'data' : 'totalCPUs' },
            { 'data' : 'totalMemory' },
            { 'data' : 'state' }
        ]
    });
    var instances = $('#instances').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/applications/{{appId}}/instances',
            'dataSrc' : function(res) {
                if(!res.data) {
                    return [];
                }
                res.data.forEach( (info, i) => {
                    if(info.localInfo) {
                        info['hostname'] = info.localInfo.hostname;
                        info['ports'] = Object.keys(info.localInfo.ports)
                                        .map(key => '<b>' + key + ':</b> ' + info.localInfo.ports[key].hostPort)
                                            .join(",");
                    }
                    info['logStream'] = "TODO";
                });
                return res.data;
            }
        },
        'paging': false,
        'info' : false,
        'columns' : [
            { 'data' : 'instanceId' },
            { 'data' : 'executorId' },
            { 'data' : 'hostname' },
            { 'data' : 'ports' },
            { 'data' : 'state' },
            { 'data' : 'logStream' }
        ]
    });
    setInterval(() => {
        summary.ajax.reload();
        instances.ajax.reload();
    }, 5000);
{{/partial}}
{{> common/base}}