{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col">
                <table class="table table-bordered" id="executorSummary">
                    <thead>
                    <tr>
                        <th class="text-wrap">ID</th>
                        <th class="text-wrap">Hostname</th>
                        <th class="text-wrap">Port</th>
                        <th class="text-wrap">Used CPU Cores</th>
                        <th class="text-wrap">Free CPU Cores</th>
                        <th class="text-wrap">Used Memory</th>
                        <th class="text-wrap">Free Memory</th>
                        <th class="text-wrap">Tags</th>
                        <th class="text-wrap">Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><h4 class="fw-bold">Application Instances</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="instances">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>App Id</th>
                                <th>Port</th>
                                <th>Cores</th>
                                <th>Memory</th>
                                <th>Current Age</th>
                                <th>Created</th>
                                <th>Last Updated</th>
                                <th>State</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><h4 class="fw-bold">Tasks</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="tasks">
                            <thead>
                            <tr>
                                <th>Instance ID</th>
                                <th>Source App</th>
                                <th>Task ID</th>
                                <th>Cores</th>
                                <th>Memory</th>
                                <th>Current Age</th>
                                <th>Created</th>
                                <th>Last Updated</th>
                                <th>State</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><h4 class="fw-bold">Local Service Instances</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="service-instances">
                            <thead>
                            <tr>
                                <th class="text-wrap">ID</th>
                                <th class="text-wrap">Service Id</th>
                                <th class="text-wrap">Port</th>
                                <th class="text-wrap">Cores</th>
                                <th class="text-wrap">Memory</th>
                                <th class="text-wrap">Current Age</th>
                                <th class="text-wrap">Created</th>
                                <th class="text-wrap">Last Updated</th>
                                <th class="text-wrap">State</th>
                                <th class="text-wrap"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}
    var summary = $('#executorSummary').DataTable({
        'processing' : true,
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-nowrap',
                'targets': 0
            },
            {
                'className': 'text-wrap',
                'targets': [1-8]
            }
        ],

        'columns' : [
            { 'data' : 'executorId' },
            { 'data' : 'hostname' },
            { 'data' : 'port' },
            { 'data' : 'usedCores' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            {
                'data' : 'tags',
                'render' : function(data, type, row, meta) {
                    var tagStr = "";
                    if(!data) {
                        return tagStr;
                    }
                    data.sort();
                    for(var i = 0; i < data.length; i++) {
                        tagStr += '<span class="badge bg-secondary text-wrap">' + data[i] + '</span> ';
                    }
                    return tagStr;
                }
            },
            {
                'data' : 'blacklisted',
                'render' : function(data, type, row, meta) {
                    return data
                            ? '<span class="badge bg-danger fw-bold">BLACKLISTED</span>'
                            : '<span class="badge bg-success fw-bold">ONLINE</span>';
                }
            }
        ]
    });

    function executorDataTransformerForAppInstances(res, instances) {
        if(!res || !res.data) {
            console.error("No data");
            return [];
        }
        return executorDataTransformer(res, res.data.instances);
    }

    function executorDataTransformerForServiceInstances(res, instances) {
        if(!res || !res.data) {
            console.error("No data");
            return [];
        }
        return executorDataTransformer(res, res.data.serviceInstances);
    }

    function executorDataTransformer(res, instances) {
        if(!res || !res.data) {
            console.error("No data");
            return [];
        }
        var data = res.data;
        var esum = {};
        esum['executorId'] = data.state.executorId;
        esum['hostname'] = data.hostname;
        esum['port'] = data.port;
        esum['port'] = data.port;
        var uc = data.state.cpus.usedCores;
        esum['usedCores'] = Object.values(uc).map(v => v.length).reduce((acc, v) => acc + v, 0);
        var fc = data.state.cpus.freeCores;
        esum['freeCores'] = Object.values(fc).map(v => v.length).reduce((acc, v) => acc + v, 0);
        esum['usedMemory'] = Object.values(data.state.memory.usedMemory).reduce((acc, v) => acc + v, 0);
        esum['freeMemory'] = Object.values(data.state.memory.freeMemory).reduce((acc, v) => acc + v, 0);
        esum['tags'] = data.tags;
        esum['blacklisted'] = data.blacklisted;
        summary.clear();
        summary.rows.add([esum]).draw();

        instances.forEach( (info, i) => {
                if(info.localInfo) {
                    info['hostname'] = info.localInfo.hostname;
                    info['ports'] = Object.keys(info.localInfo.ports)
                        .map(key => '<b>' + key + ':</b> ' + info.localInfo.ports[key].hostPort)
                        .join(",");
            }
            else {
                info['hostname'] = '';
                info['ports'] = '';
            }
            updateResourceUsage(instances);
        });
        return instances;
    }

    var ii = $('#instances').DataTable({
        'processing' : true,
        'paging': true,
        'info' : false,
        'columnDefs': [ {'className': 'text-wrap', 'targets': '_all'} ],
        'columns' : [
                { 'data' : 'instanceId' },
                { 'data' : 'appId',
                    'render' : function(data, type, row, meta) {
                        return '<a href="/applications/' + data + '">' + data + '</a>';
                    }
                },
                { 'data' : 'ports' },
                { 'data' : 'usedCores' },
                { 'data' : 'usedMemory', 'render' : formatBytes },
                { 'data' : 'created', 'render' : timeSince },
                { 'data' : 'created', 'render' : function(data, type, row, meta) { return new Date(data).toLocaleString(); } },
                { 'data' : 'updated', 'render' : function(data, type, row, meta) { return new Date(data).toLocaleString(); } },
                { 'data' : 'state', 'render' : renderInstanceState },
                { 'data' : 'logStream',
                  'render' : function(data, type, row, meta) {
                    return '<a href="/applications/' + row['appId'] + '/instances/' + row['instanceId'] + '">Details</a>';
                  }
                }
            ],
            'order' : [[5, 'desc']],
            'ajax' : {
               'url' : '/apis/v1/cluster/executors/{{executorId}}',
               'dataSrc' : executorDataTransformerForAppInstances
            }
    });
    var si = $('#service-instances').DataTable({
        'processing' : true,
        'paging': true,
        'info' : false,
        'columnDefs': [ {'className': 'text-wrap', 'targets': '_all'} ],
        'columns' : [
                { 'data' : 'instanceId' },
                { 'data' : 'serviceId',
                    'render' : function(data, type, row, meta) {
                        return '<a href="/localservices/' + data + '">' + data + '</a>';
                    }
                },
                { 'data' : 'ports' },
                { 'data' : 'usedCores' },
                { 'data' : 'usedMemory', 'render' : formatBytes },
                { 'data' : 'created', 'render' : timeSince },
                { 'data' : 'created', 'render' : function(data, type, row, meta) { return new Date(data).toLocaleString(); } },
                { 'data' : 'updated', 'render' : function(data, type, row, meta) { return new Date(data).toLocaleString(); } },
                { 'data' : 'state', 'render' : renderInstanceState },
                { 'data' : 'logStream',
                  'render' : function(data, type, row, meta) {
                    return '<a href="/localservices/' + row['appId'] + '/instances/' + row['instanceId'] + '">Details</a>';
                  }
                }
            ],
            'order' : [[5, 'desc']],
            'ajax' : {
               'url' : '/apis/v1/cluster/executors/{{executorId}}',
               'dataSrc' : executorDataTransformerForServiceInstances
            }
    });

    var ti = $('#tasks').DataTable({
        'processing' : true,
        'paging': true,
        'info' : false,
        'columnDefs': [ {'className': 'text-wrap', 'targets': '_all'} ],
        'columns' : [
                { 'data' : 'instanceId' },
                { 'data' : 'sourceAppName' },
                { 'data' : 'taskId' },
                { 'data' : 'usedCores' },
                { 'data' : 'usedMemory', 'render' : formatBytes },
                { 'data' : 'created', 'render' : timeSince },
                { 'data' : 'created', 'render' : function(data, type, row, meta) { return new Date(data).toLocaleString(); } },
                { 'data' : 'updated', 'render' : function(data, type, row, meta) { return new Date(data).toLocaleString(); } },
                { 'data' : 'state', 'render' : renderTaskState },
                { 'data' : 'logStream',
                  'render' : function(data, type, row, meta) {
                    return '<a href="/tasks/' + row['sourceAppName'] + '/' + row['taskId'] + '">Details</a>';
                  }
                }
            ],
            'order' : [[5, 'desc']],
            'ajax' : {
               'url' : '/apis/v1/cluster/executors/{{executorId}}',
               'dataSrc' : res => updateResourceUsage((!res || !res.data) ? [] : res.data.tasks)
            }
    });

    //loadExecutorSnapshot();

    setInterval(() => {
        //loadExecutorSnapshot();
        ii.ajax.reload(null, false);
        ti.ajax.reload(null, false);
    }, 3000);

{{/partial}}
{{> common/base}}