{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col">
                <table class="table table-bordered" id="clusterSummary">
                    <thead>
                    <tr>
                        <th class="text-center">Number of executors</th>
                        <th class="text-center">Number of Applications</th>
                        <th class="text-center">Number of Active Applications</th>
                        <th class="text-center">Free Cores</th>
                        <th class="text-center">Used Cores</th>
                        <th class="text-center">Total Cores</th>
                        <th class="text-center">Free Memory</th>
                        <th class="text-center">Used Memory</th>
                        <th class="text-center">Total Memory</th>
                        <th class="text-central">State</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col"><h4>Applications</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="applications" title="Applications">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Expected Instances</th>
                                <th>Healthy Instances</th>
                                <th>CPU</th>
                                <th>Memory</th>
                                <th>State</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col"><h4>Executors</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered"  id="executors">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Host</th>
                                <th>Free Cores</th>
                                <th>Used Cores</th>
                                <th>Free Memory</th>
                                <th>Used Memory</th>
                                <th>Tags</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}
    var cluster = $('#clusterSummary').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/cluster',
            'dataSrc': function(res) { return res.data ? [ res.data ] : []; }
        },
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columnDefs': [ {'className': 'text-center', 'targets': '_all'} ],
        'columns' : [
            { 'data' : 'numExecutors' },
            { 'data' : 'numApplications' },
            { 'data' : 'numActiveApplications' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedCores' },
            { 'data' : 'totalCores' },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'state', 'render' : function(data, type, row, meta) {
                    var tagStr = "";
                    if(data === 'NORMAL') {
                        return '<span class="badge badge-success">Normal</span> ';
                    }
                    return '<span class="badge badge-danger">Maintenance</span> ';
                }
            }
        ]
    });
    var applications = $('#applications').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/applications',
            'dataSrc' : function(res) {
                return res.data ? Object.keys(res.data).map(key => res.data[key]) : [];
            }
        },
        'paging': true,
        'dom' : "<'row'<'col-sm-12 col-md-1 float-left'f><'col-sm-10 col-md-9 float-right'p><'col-md-2 col-sm-3'l>><'row'<'col-sm-12'tr>>",
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center',
                'targets': '_all'
            }
        ],
        'columns' : [
            {
                'data' : 'id' ,
                'render' : function(data, type, row, meta) {
                    return '<a href="/applications/' + data + '">' + data + '</a>';
                }
            },
            { 'data' : 'name' },
            { 'data' : 'requiredInstances' },
            { 'data' : 'healthyInstances' },
            { 'data' : 'totalCPUs' },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'state', render: renderAppState }
        ]
    });
    var executors = $('#executors').DataTable({
        'processing' : true,
        'ajax': '/apis/v1/cluster/executors',
        'paging': true,
        'dom' : "<'row'<'col-sm-12 col-md-1 float-left'f><'col-sm-10 col-md-9 float-right'p><'col-md-2 col-sm-3'l>><'row'<'col-sm-12'tr>>",
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center',
                'targets': [2,3,4,5]
            }
        ],
        'columns' : [
            {
                'data' : 'executorId' ,
                'render' : function(data, type, row, meta) {
                    return row.blacklisted
                        ? '<del><a href="/executors/' + data + '">' + data + '</a></del>'
                        : '<a href="/executors/' + data + '">' + data + '</a>';
                }
            },
            { 'data' : 'hostname' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedCores' },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            {  'data' : 'tags',
                'render' : function(data, type, row, meta) {
                   var tagStr = "";
                   if(!data) {
                       return tagStr;
                   }
                   data.sort();
                   for(var i = 0; i < data.length; i++) {
                       tagStr += '<span class="badge badge-secondary">' + data[i] + '</span> ';
                   }
                   return tagStr;
                }
            }
        ]
    });

    setInterval(() => {
        cluster.ajax.reload();
        applications.ajax.reload();
        executors.ajax.reload();
    }, 5000);
{{/partial}}
{{> common/base}}