{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col">
                <table class="table table-bordered" id="clusterSummary">
                    <thead>
                    <tr>
                        <th class="text-center">Number of executors</th>
                        <th class="text-center">Number of Applications</th>
                        <th class="text-center">Number of Active Applications</th>
                        <th class="text-center">Free Cores</th>
                        <th class="text-center">Used Cores</th>
                        <th class="text-center">Total Cores</th>
                        <th class="text-center">Free Memory</th>
                        <th class="text-center">Used Memory</th>
                        <th class="text-center">Total Memory</th>
                        <th class="text-central">State</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-6 col-sm-12" id="runnables">
                <ul class="nav nav-tabs"  role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="applicationdetails-tab" data-toggle="tab" data-target="#applicationdetails" type="button" role="tab" aria-controls="applicationdetails" aria-selected="true">Applications</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="taskdetails-tab" data-toggle="tab" data-target="#taskdetails" type="button" role="tab" aria-controls="taskdetails" aria-selected="false">Tasks</button>
                    </li>
                </ul>
                <div class="tab-content" id=""runnablesContent>
                    <div class="tab-pane fade show active" id="applicationdetails" role="tabpanel" aria-labelledby="applicationdetails-tab">
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered" id="applications" title="Applications" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Expected Instances</th>
                                        <th>Healthy Instances</th>
                                        <th>CPU</th>
                                        <th>Memory</th>
                                        <th>State</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="taskdetails" role="tabpanel" aria-labelledby="taskdetails-tab">

                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered" id="tasks" title="Tasks" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Source App</th>
                                        <th>Task ID</th>
                                        <th>Cores</th>
                                        <th>Memory</th>
                                        <th>Running For</th>
                                        <th>State</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 1rem;">
                            <div class="col">
                                <form method="post" action="/apis/v1/tasks/search">
                                    <div class="form-group row">
                                        <label for="taskSearchAppName" class="col-sm-3">Source App Name</label>
                                        <input type="text" class="form-control col" id="taskSearchAppName" name="taskSearchAppName" pattern="[a-zA-Z\d\-_]*" required placeholder="Source app name for the task">
                                    </div>
                                    <div class="form-group row">
                                        <label for="taskSearchTaskID" class="col-sm-3">Task ID</label>
                                        <input type="text" class="form-control col" id="taskSearchTaskID" name="taskSearchTaskID" pattern="[a-zA-Z\d\-_]*" required placeholder="Task ID used to start the task">
                                    </div>
                                    <button type="submit" class="btn btn-success pull-right">Find</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col"><h4>Executors</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered"  id="executors">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Host</th>
                                <th>Free Cores</th>
                                <th>Used Cores</th>
                                <th>Free Memory</th>
                                <th>Used Memory</th>
                                <th>Tags</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}
    var cluster = $('#clusterSummary').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/cluster',
            'dataSrc': function(res) { return res.data ? [ res.data ] : []; }
        },
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columnDefs': [ {'className': 'text-center', 'targets': '_all'} ],
        'columns' : [
            { 'data' : 'numExecutors' },
            { 'data' : 'numApplications' },
            { 'data' : 'numActiveApplications' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedCores' },
            { 'data' : 'totalCores' },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'state', 'render' : function(data, type, row, meta) {
                    var tagStr = "";
                    if(data === 'NORMAL') {
                        return '<span class="badge badge-success">Normal</span> ';
                    }
                    return '<span class="badge badge-danger">Maintenance</span> ';
                }
            }
        ]
    });
    var applications = $('#applications').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/applications',
            'dataSrc' : function(res) {
                return res.data ? Object.keys(res.data).map(key => res.data[key]) : [];
            }
        },
        'paging': true,
        'dom' : "<'row'<'col-sm-12 col-md-1 float-left'f><'col-sm-10 col-md-9 float-right'p><'col-md-2 col-sm-3'l>><'row'<'col-sm-12'tr>>",
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center',
                'targets': '_all'
            }
        ],
        'columns' : [
            {
                'data' : 'id' ,
                'render' : function(data, type, row, meta) {
                    return '<a href="/applications/' + data + '">' + data + '</a>';
                }
            },
            { 'data' : 'name' },
            { 'data' : 'requiredInstances' },
            { 'data' : 'healthyInstances' },
            { 'data' : 'totalCPUs' },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'state', render: renderAppState }
        ]
    });
    var tasks = $('#tasks').DataTable({
        'processing' : true,
        'paging': true,
        'dom' : "<'row'<'col-sm-12 col-md-1 float-left'f><'col-sm-10 col-md-9 float-right'p><'col-md-2 col-sm-3'l>><'row'<'col-sm-12'tr>>",
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center',
                'targets': '_all'
            }
        ],
        'columns' : [
            { 'data' : 'sourceAppName' },
            { 'data' : 'taskId' },
            { 'data' : 'usedCores' },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            { 'data' : 'created', 'render' : timeSince },
            { 'data' : 'state', 'render' : renderTaskState },
            { 'data' : 'logStream',
                'render' : function(data, type, row, meta) {
                    return '<a href="/tasks/' + row['sourceAppName'] + '/' + row['taskId'] + '">Details</a>';
                }
            }
        ],
        'order' : [[5, 'desc']],
        'ajax' : {
            'url' : '/apis/v1/tasks',
            'dataSrc' : res => updateResourceUsage((!res || !res.data) ? [] : res.data)
        }
    });
    var executors = $('#executors').DataTable({
        'processing' : true,
        'ajax': '/apis/v1/cluster/executors',
        'paging': true,
        'dom' : "<'row'<'col-sm-12 col-md-1 float-left'f><'col-sm-10 col-md-9 float-right'p><'col-md-2 col-sm-3'l>><'row'<'col-sm-12'tr>>",
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center',
                'targets': [2,3,4,5]
            }
        ],
        'columns' : [
            {
                'data' : 'executorId' ,
                'render' : function(data, type, row, meta) {
                    return row.blacklisted
                        ? '<del><a href="/executors/' + data + '">' + data + '</a></del>'
                        : '<a href="/executors/' + data + '">' + data + '</a>';
                }
            },
            { 'data' : 'hostname' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedCores' },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            {  'data' : 'tags',
                'render' : function(data, type, row, meta) {
                   var tagStr = "";
                   if(!data) {
                       return tagStr;
                   }
                   data.sort();
                   for(var i = 0; i < data.length; i++) {
                       tagStr += '<span class="badge badge-secondary">' + data[i] + '</span> ';
                   }
                   return tagStr;
                }
            }
        ]
    });

    setInterval(() => {
        cluster.ajax.reload();
        applications.ajax.reload();
        tasks.ajax.reload();
        executors.ajax.reload();
    }, 5000);
{{/partial}}
{{> common/base}}