{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col">
                <table class="table table-bordered" id="clusterSummary">
                    <thead>
                    <tr>
                        <th class="text-center text-wrap">Leader Controller</th>
                        <th class="text-center text-wrap">Number of executors</th>
                        <th class="text-center text-wrap">Number of Applications</th>
                        <th class="text-center text-wrap">Number of Active Applications</th>
                        <th class="text-center text-wrap">Free Cores</th>
                        <th class="text-center text-wrap">Used Cores</th>
                        <th class="text-center text-wrap">Total Cores</th>
                        <th class="text-center text-wrap">Free Memory</th>
                        <th class="text-center text-wrap">Used Memory</th>
                        <th class="text-center text-wrap">Total Memory</th>
                        <th class="text-center text-wrap">State</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-lg-6 col-md-12" id="runnables">
                <ul class="nav nav-tabs" role="tablist" id="runnables-tabs">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active fw-bold" id="applicationdetails-tab" data-bs-toggle="tab"
                                data-bs-target="#applicationdetails" type="button" role="tab"
                                aria-controls="applicationdetails" aria-selected="true">Applications
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold" id="taskdetails-tab" data-bs-toggle="tab"
                                data-bs-target="#taskdetails" type="button" role="tab" aria-controls="taskdetails"
                                aria-selected="false">Tasks
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold" id="localservicedetails-tab" data-bs-toggle="tab"
                                data-bs-target="#localservicedetails" type="button" role="tab"
                                aria-controls="localservicedetails" aria-selected="false">Local Services
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="runnables-content">
                    <div class="tab-pane fade show active" id="applicationdetails" role="tabpanel"
                         aria-labelledby="applicationdetails-tab">
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered data-table" id="applications" title="Applications"
                                       style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th class="text-wrap">ID</th>
                                        <th class="text-wrap">Name</th>
                                        <th class="text-wrap">Expected Instances</th>
                                        <th class="text-wrap">Healthy Instances</th>
                                        <th class="text-wrap">CPU</th>
                                        <th class="text-wrap">Memory</th>
                                        <th class="text-wrap">State</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="taskdetails" role="tabpanel" aria-labelledby="taskdetails-tab">

                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered" id="tasks" title="Tasks" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th class="text-wrap">Source App</th>
                                        <th class="text-wrap">Task ID</th>
                                        <th class="text-wrap">Cores</th>
                                        <th class="text-wrap">Memory</th>
                                        <th class="text-wrap">Running For</th>
                                        <th class="text-wrap">State</th>
                                        <th class="text-wrap"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 1rem;">
                            <div class="col">
                                <form method="post" action="/apis/v1/tasks/search">
                                    <div class="row mb-2">
                                        <label for="taskSearchAppName" class="col-sm-3">Source App Name</label>
                                        <input type="text" class="form-control col" id="taskSearchAppName"
                                               name="taskSearchAppName" pattern="[a-zA-Z\d\-_]*" required
                                               placeholder="Source app name for the task">
                                    </div>
                                    <div class="row mb-2">
                                        <label for="taskSearchTaskID" class="col-sm-3">Task ID</label>
                                        <input type="text" class="form-control col" id="taskSearchTaskID"
                                               name="taskSearchTaskID" pattern="[a-zA-Z\d\-_]*" required
                                               placeholder="Task ID used to start the task">
                                    </div>
                                    <div class="row">
                                        <div class="col-9"></div>
                                        <div class="col-3 justify-content-end">
                                            <button type="submit" class="btn btn-success float-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                                </svg>
                                                Find
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="localservicedetails" role="tabpanel"
                         aria-labelledby="localservicedetails-tab">
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered" id="localservices" title="localservices"
                                       style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th class="text-wrap">Name</th>
                                        <th class="text-wrap">Instances Per Host</th>
                                        <th class="text-wrap">Healthy Instances</th>
                                        <th class="text-wrap">CPU</th>
                                        <th class="text-wrap">Memory</th>
                                        <th class="text-wrap">Activation State</th>
                                        <th class="text-wrap">State</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col"><h4 class="fw-bold">Executors</h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered" id="executors">
                            <thead>
                            <tr>
                                <th class="text-wrap">ID</th>
                                <th class="text-wrap">Host</th>
                                <th class="text-wrap">Free Cores</th>
                                <th class="text-wrap">Used Cores</th>
                                <th class="text-wrap">Free Memory</th>
                                <th class="text-wrap">Used Memory</th>
                                <th class="text-wrap">Tags</th>
                                <th class="text-wrap">State</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/partial}}

{{#partial "page_js"}}
    var cluster = $('#clusterSummary').DataTable({
    'processing' : true,
        'ajax': {
            'url' : '/apis/v1/cluster',
            'dataSrc': function(res) { return res.data ? [ res.data ] : []; }
        },
        'paging': false,
        'searching' : false,
        'ordering' : false,
        'info' : false,
        'columnDefs': [ {'className': 'text-center text-wrap', 'targets': '_all'} ],
        'columns' : [
            { 'data' : 'leader' },
            { 'data' : 'numExecutors' },
            { 'data' : 'numApplications' },
            { 'data' : 'numActiveApplications' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedCores' },
            { 'data' : 'totalCores' },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'state', 'render' : function(data, type, row, meta) {
                    var tagStr = "";
                    if(data === 'NORMAL') {
                        return '<span class="badge fw-bold bg-success">Normal</span> ';
                    }
                    return '<span class="badge fw-bold bg-danger">Maintenance</span> ';
                }
            }
        ]
    });
    var applications = $('#applications').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/applications',
            'dataSrc' : function(res) {
                return res.data ? Object.keys(res.data).map(key => res.data[key]) : [];
            }
        },
        'paging': true,
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center text-wrap',
                'targets': '_all'
            }
        ],
        'columns' : [
            {
                'data' : 'id' ,
                'render' : function(data, type, row, meta) {
                    return '<a href="/applications/' + data + '" class="fw-bold">' + data + '</a>';
                }
            },
            { 'data' : 'name' },
            { 'data' : 'requiredInstances' },
            { 'data' : 'healthyInstances' },
            { 'data' : 'totalCPUs' },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'state', render: renderAppState }
        ]
    });
    var tasks = $('#tasks').DataTable({
        'processing' : true,
        'paging': true,
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center text-wrap',
                'targets': '_all'
            }
        ],
        'columns' : [
            { 'data' : 'sourceAppName' },
            { 'data' : 'taskId' },
            { 'data' : 'usedCores' },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            { 'data' : 'created', 'render' : timeSince },
            { 'data' : 'state', 'render' : renderTaskState },
            { 'data' : 'logStream',
                'render' : function(data, type, row, meta) {
                    return '<a href="/tasks/' + row['sourceAppName'] + '/' + row['taskId'] + '" class="fw-bold">Details</a>';
                }
            }
        ],
        'order' : [[5, 'desc']],
        'ajax' : {
            'url' : '/apis/v1/tasks',
            'dataSrc' : res => updateResourceUsage((!res || !res.data) ? [] : res.data)
        }
    });
    var localservices = $('#localservices').DataTable({
        'processing' : true,
        'ajax': {
            'url' : '/apis/v1/localservices',
            'dataSrc' : function(res) {
                return res.data ? Object.keys(res.data).map(key => res.data[key]) : [];
            }
        },
        'paging': true,
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center text-wrap',
                'targets': '_all'
            }
        ],
        'columns' : [
            {
                'data' : 'name' ,
                'render' : function(data, type, row, meta) {
                    return '<a href="/localservices/' + row['id'] + '"  class="fw-bold">' + data + '</a>';
                }
            },
            { 'data' : 'instancesPerHost' },
            { 'data' : 'healthyInstances' },
            { 'data' : 'totalCPUs' },
            { 'data' : 'totalMemory', 'render' : formatBytes },
            { 'data' : 'activationState' },
            { 'data' : 'state', render: renderLocalServiceState }
        ]
    });

    var executors = $('#executors').DataTable({
        'processing' : true,
        'ajax': '/apis/v1/cluster/executors',
        'paging': true,
        'info' : false,
        'columnDefs': [
            {
                'className': 'text-center',
                'targets': [2,3,4,5]
            },
            {
                'className': 'text-wrap',
                'targets': '_all'
            }
        ],
        'columns' : [
            {
                'data' : 'executorId' ,
                'render' : function(data, type, row, meta) {
                    return (row.state == 'REMOVED' || row.state == 'BLACKLISTED')
                        ? '<del><a href="/executors/' + data + '"  class="fw-semibold">' + data + '</a></del>'
                        : '<a href="/executors/' + data + '"  class="fw-semibold">' + data + '</a>';
                }
            },
            { 'data' : 'hostname' },
            { 'data' : 'freeCores' },
            { 'data' : 'usedCores' },
            { 'data' : 'freeMemory', 'render' : formatBytes },
            { 'data' : 'usedMemory', 'render' : formatBytes },
            {  'data' : 'tags',
                'render' : function(data, type, row, meta) {
                   var tagStr = "";
                   if(!data) {
                       return tagStr;
                   }
                   data.sort();
                   for(var i = 0; i < data.length; i++) {
                       tagStr += '<span class="badge badge-secondary text-wrap">' + data[i] + '</span> ';
                   }
                   return tagStr;
                }
            },
            {  'data' : 'state', 'render' : renderExecutorState }
        ]
    });

    setInterval(() => {
    cluster.ajax.reload(null, false);
    applications.ajax.reload(null, false);
    tasks.ajax.reload(null, false);
    localservices.ajax.reload(null, false);
    executors.ajax.reload(null, false);
    }, 5000);
{{/partial}}
{{> common/base}}
