header {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 1rem;
}

a {
  color: #4b7bc5;
}
.idm-section {
  border: darkgray solid 1px;
  padding: 1rem;
  margin: 1rem;
}

.cm-first-row {
  padding: 1rem;
}

.cm-text-box {
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid darkgray !important;
  border-width: 1px !important;
}

.nowrap {
  white-space:nowrap;
}

/*pre {
    height: 75vh;
    overflow-y: auto;
    margin: 1rem;
    background: #212529;
    color: wheat;
    padding: 1rem;
    font-weight: bold;
    font-family: courier;
}*/
.pailer-body {
    padding: 0px;
}

.pailer-indicator {
    background: red;
    color: wheat;
    font-weight: bolder;
    position: absolute;
    left: 5px;
    top: 90px;
}

.pailer-data {
    color: white;
    font-family: monospace;
    background: #212222;
    white-space: pre-wrap !important;
    padding: 1rem;
}

.pailer-syslog-option {
    color: white;
    background: darkgray;
    left: 5px;
    top: 5px;
    display: block;
}