header {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 1rem;
}

a {
  color: #4b7bc5;
}

.nowrap {
  white-space:nowrap;
}

.code-display {
    height: 75vh;
    overflow-y: auto;
    margin: 1rem;
    background: #212529;
    color: wheat;
    padding: 1rem;
    font-weight: bold;
    font-family: monospace;
}

.pailer-body {
    padding: 0px;
}

.pailer-indicator {
    background: red;
    color: wheat;
    font-weight: bolder;
    position: absolute;
    left: 5px;
    top: 90px;
    z-index: 999;
}

.pailer-data {
    color: white;
    font-family: monospace;
    background: #212222;
    white-space: pre-wrap !important;
    padding: 1rem;
}

.pailer-syslog-option {
    color: white;
    background: darkgray;
    left: 5px;
    top: 5px;
    display: block;
}

.pailer-data-container {
    padding: 0px;
}

.tab-pane {
    padding-top: 1rem;
}

.footer-font {
  font-size: small !important;
}

.footer-link {
  color: white !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: inherit;
}

.core-display {
  display: inline-block !important;
  cursor: default;
  border-radius: 4px;
  font-size: small;
  border-width: 1px !important;
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
  margin: .25rem !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-dark-rgb),var(--bs-border-opacity)) !important;

}
